* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

main {
  padding: 20px;
  margin-top: 80px;
  flex-grow: 1;
}