* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lora", serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-link {
    position: relative;
    margin: 0 10px;
    font-size: 1rem;
    text-decoration: none;
    color: #333;
    line-height: 3rem;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #E6EC31;
    text-decoration-thickness: 0.25rem;
    text-decoration-skip-ink: none;
}

.nav-link::after {
    content: '|';
    position: absolute;
    right: -12px;
    color: #ccc;
}

.nav-right .nav-link:last-child::after {
    content: '';
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 15px;
    overflow: hidden;
}

.user-profile img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar input {
    padding: 8px;
    border: none;
    outline: none;
}

.search-bar button {
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #333;
}
