body {
  font-family: Arial, sans-serif;
}

.profile-title {
  font-weight: bold;
  text-align: left;
}

.profile-description {
  font-size: 1em;
}

.nav-item {
  font-size: 15px;
}

.nav-tabs .nav-link.active {
  background-color: #d6eaf8;
  color: #21618c;
  font-weight: 800;
}

.card {
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.1em;
  font-weight: 500;
}

.container img.rounded-circle {
  border: 3px solid #007bff;
}

.d-flex .btn-primary {
  font-weight: 600;
}
