* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.recipe-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.recipe-image img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin-top: 60px;
}

.recipe-content {
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: #444;
  margin-top: 20px;
  margin-bottom: 10px;
}

.prep-time, .ingredients, .steps {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 1em;
  color: #555;
  margin-bottom: 8px;
}

li strong {
  color: #333;
}

.save-icon {
  font-size: 35px;
  cursor: pointer;
  color: #999;
  margin-left: 10px;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.save-icon:hover {
  color: #FF6347;
  transform: scale(1.50);
}

.saved {
  color: red;
}

.saved:hover {
  color: #CC0000;
  transform: scale(1.50);
}

.recipe-header {
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.row {
  align-items: baseline;
}

.back-button {
  padding: 10px;
  font-size: 15px;
  font-weight: 800;
  color: #ffffff;
  background-color: #f4b400;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  width: 15%;
  font-family: 'Bebas Neue', sans-serif;
  margin-left: auto;
  transition: all 0.3s ease;
}

.back-button:focus {
  outline: none;
}

.back-button:hover {
  background-color: #f77f00;
}

.review-section, #reviewsList {
  background-color: #f9f9f9; 
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.review-section h2 {
  margin-bottom: 20px;
}

#reviewForm textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.star-rating {
  font-size: 40px;
  cursor: pointer;
}


.star-rating span:hover {
    color: #FFD700;
}

#reviewForm button {
    background-color: #ff6347;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reviewForm button:hover {
    background-color: #cc4e31;
}

.star-rating span {
  color: #ccc;
  transition: color 0.3s;
}

.review-item .star {
  color: gold;
  font-size: 18px; 
}

#viewMoreBtn {
  background-color: #ff6347;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#viewMoreBtn:hover {
  background-color: #cc4e31;
  transform: scale(1.1); 
}
